* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header {
    width: 100%;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-logo {
    width: 45px;
    object-fit: contain;
}

.main-nav {
    list-style: none;
    display: flex;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: black;
}

.second-part-header {
    display: flex;
    align-items: center;
}
.main-nav li {
    padding-left: 70px;
}

.header-cta {
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    border: 2px solid #09ae8d;
    background-color: #09ae8d;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 15px;
}
.header-login {
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    border: 2px solid #09ae8d;
    background-color: white;
    color: #09ae8d;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 40px;
}
.green-title {
    font-size: 40px;
    color: #09ae8d;
}
.hero-section {
    height: 450px;
    display: flex;
    align-items: center;
    padding-left: 60px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.firstPart-hero-section h1 {
    font-family: "Inter";
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

.firstPart-hero-section h1 span {
    color: #09ae8d;
}

.firstPart-hero-section p {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.hero-section-button {
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    border: 2px solid #09ae8d;
    background-color: #09ae8d;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 40px;
}
.firstPart-hero-section {
    max-width: 50%;
}
.secondPart-hero-section {
    margin: 0 auto;
    width: 50%;
}
.hero-section-image {
    width: 500px;
}