:root {
    --white-color: #eef3ff;
    --primary-color: #798bf9;
    --secondary-color: #2d2e82;
    --third-color: #1c1a4c;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header {
    width: 100%;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-logo {
    width: 45px;
    object-fit: contain;
}

.main-nav {
    list-style: none;
    display: flex;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: var(--third-color);
}

.second-part-header {
    display: flex;
    align-items: center;
}
.main-nav li {
    padding-left: 70px;
}

.header-cta {
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 15px;
}
.header-login {
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    border: 2px solid var(--primary-color);
    background-color: white;
    color: var(--primary-color);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 40px;
}
.green-title {
    font-size: 40px;
    color: var(--primary-color);
}
.hero-section {
    padding-top: 50px;
    height: 450px;
    display: flex;
    align-items: center;
    padding-left: 60px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.firstPart-hero-section h1 {
    font-family: "Inter";
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

.firstPart-hero-section h1 span {
    color: var(--primary-color);
}

.firstPart-hero-section p {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.hero-section-button {
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 40px;
}
.firstPart-hero-section {
    max-width: 50%;
}
.secondPart-hero-section {
    width: 50%;
    display: flex;
}

.second-section {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.second-section--first-part {
    width: 50%;
}
.second-section--first-part img {
    width: 100%;
    height: 500px;
    object-fit: contain;
}
.second-section--second-part {
    width: 50%;
    padding-right: 100px;
}
.third-section {
    background-color: var(--third-color);
    color: white;
}
.second-section--second-part h2 {
    font-family: "Inter";
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.second-section--second-part p {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.thirdpart {
    padding-left: 100px;
}
.third-section img {
    display: flex;
    align-items: end;
}
.hero-section-image {
    width: 100%;
}
.why-choose-us h2{
    font-family: "Inter";
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 50px;
}
.why-choose-us span {
    color: var(--primary-color);
}